
body h1{
     margin: 0;
     padding: 0;
}
body p{
     font-size: 20px;
     font-weight:500;
}

.flex_container{
     display: flex;
     margin-bottom: 100px;
     padding-left: 10%;
  }
.half_width{
     width: 50%;
     padding-left: 10%;
}
.half_width img{
     width: 80%;
}
button{
     padding: 10px 35px;
     font-weight: 700;
     font-size: 16px;
     background: hotpink;
     border: none;
     border-radius: 8px;
     color: #fff;
     cursor: pointer;
}
.flex_container .border_image{
     font-family: 'Playfair Display', serif; 
     font-size: 50px;
     border-image-source: linear-gradient(red,red);
     border-image-slice:1;
     border-image-outset: 20px;
     border-left: 5px solid;}
h1 span{
     color:tomato;
}
/* section1 end */



.section2 h1{
     font-family:'Roboto', sans-serif; 
     text-align: center;
     font-weight: 900;
     font-size: 60px;
     margin-bottom: 100px;
}
.flex_item{
     width: 50%;
     padding:10px;
     margin-right: 5%;
     margin-left: 5%;
     box-shadow: 5px 5px 15px grey;
    
}
.flex_item img{
     width: 70%;
}
.div1 {
     background: rgb(155, 195, 201);
     border-radius: 30px;
}
.div2{
     background: rgb(185, 165, 185);
     border-radius: 30px;
}
.div3{
     background:rgb(175, 200, 224);
     border-radius: 30px;
     
}
/* end section2 */

.section3{
     display: flex;
     padding-left: 10%;
     background-image: url(/images/shapes/shape-1.png);
     background-size: 30%;
     background-position:left;
     background-repeat: no-repeat;
}
.section3 div{
     width: 50%;
     margin-left: 5%;
     margin-right: 5%;
}
.section3 img{
     width: 100%;
}
.section3 h1{
     font-family:'Roboto', sans-serif; 
     font-weight: 900;
     font-size: 60px;
     margin-bottom: 30px;
}
/* section3 end */

.section4 div{
     width: 50%;
     margin-left: 5%;
     padding: 5%;
}
.section4 img{
     width: 100%;
}
.section4{
     display: flex;
     padding-left: 5%;
     background-image: url(/images/shapes/shape-1.png);
     background-size: 15%;
     background-position:right bottom;
     background-repeat: no-repeat;
}
.section4 h1{
     font-family:'Roboto', sans-serif; 
     font-weight: 900;
     font-size: 60px;
     margin-bottom: 30px;
}

/* section4 end */


.corona_app{
     text-align: center;
     font-weight: 900;
     font-size: 60px;
     margin-bottom: 100px;}

 .flex_display {
     display:flex;
     padding-left:5%;
     margin-right:10%;
     margin-left:10%;
 }
.flex_display img{
     
     width: 100%;
     border: 5px solid grey;
     border-radius: 20px;
}
.flex_display h1{
     font-weight: 900;
     font-size: 60px;
     
}
.flex_display .half_width{
     margin-left: 10%;
}

/* end section5 */

footer{
     
     background-color: black;
     text-align: center;
     padding: 15px;
     margin-top: 5%;
}
footer h1{
     font-family: 'Orelega One', cursive;
     font-size: 70px;
     color: aliceblue;
     padding-top: 20px;
}
footer span{
     color: orangered;
}
footer p {
     color:ghostwhite;
     font-size: 22px;
     padding: 20px;
}

/* end footer */
    